* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    height: 100vh;

}

/* ---------------- formattazioni comuni */
input {
    border: none;
}

i {
    cursor: pointer;
}



/* --------------formattazione backgroud */
#bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: -1;
}

#bg-top {
    background-color: #009788;
    height: 100px;
}

#bg-bottom {
    background-color: #dddad1;
    height: calc(100% - 100px);
}

/* --------------formattazione layout app */
#app {
    position: relative;
    margin: 0 auto;
    top: 3vh;
    height: 94vh;
    width: 80%;
    min-width: 1200px;
    max-width: 1400px;
    background-color: #fff;
    display: flex;
}

#app-left {
    width: 35%;
}

#app-right {
    width: 65%;
}

.header {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
}

.header-left {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.header-right i {
    margin-right: 20px;
    font-size: 24px;
    color: #b1b1b1;
}

.header img.avatar {
    height: 60px;
    border-radius: 50%;
    margin: 0 5px;
    object-fit: contain;
    object-position: center;
}

.header .avatar-details {
    color: #6a717b;
    display: none;
}

.header .avatar-details.active {
    color: #6a717b;
    display: inline-block;
}


/* ------------ formattazione elementi app-left    */

#notifiche {
    height: 90px;
    padding-left: 10px;
    background-color: #8edafc;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

#notifiche i {
    background-color: #fff;
    padding: 15px;
    border-radius: 50%;
    font-size: 22px;
    color: #97dbfe;
    margin: 0 10px;
}

#ricerca {
    height: 40px;
    padding: 5px;
    background-color: #f9f9f9;
}

#ricerca-bordo {
    height: 100%;
    border: 1px solid #f3f3f3;
    background-color: #fff;
    display: flex;
    align-items: center;
}

#ricerca-bordo i {
    margin: 0 20px;
    color: #b8b6b5;
}

#ricerca-bordo #input-cerca {
    width: 80%;
    height: 100%;
}

#elenco-chat {
    height: calc(100% - 220px);
    overflow-y: scroll;
}

.box-avatar {
    display: flex;
    position: relative;
    padding: 10px;
    cursor: pointer;
}

.box-avatar:hover {
    background-color: #c1e5e9;
}

.box-avatar.active {
    background-color: #e9ebea;
}

.box-avatar img.avatar {
    height: 60px;
    border-radius: 50%;
    margin: 0 5px;
}

.box-avatar .avatar-texts {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.box-avatar .avatar-name {
    color: black;
}

.box-avatar .avatar-details {
    color: #bdc6c3;
}

.orario-chat {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 16px;
    color: #babab8;
}



/* formattazione elementi app right */
#chat {
    height: calc(100% - 150px);
    background-image: url('https://i.pinimg.com/originals/85/70/f6/8570f6339d3189c96e340d47a581d3b8.jpg');
    background-color: #fbfbfb;
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
    overflow-y: scroll;
}

#nuovo-messaggio {
    height: 60px;
    background-color: #f3eeea;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nuovo-messaggio i {
    color: #666e70;
    display: inline-block;
    width: 10%;
    text-align: center;
    font-size: 24px;
    display: none;
}

#nuovo-messaggio i.active {
    display: inline;
}

#input-message {
    padding: 0 10px;
    height: 45px;
    width: 80%;
    border-radius: 5px;
}

#chat {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 40px;
}

/*---------------- formattazione template  */
.message {
    padding: 5px 10px;
    align-items: flex-start;
    border-radius: 10px;
    margin-bottom: 10px;
}

.message.received {
    background-color: #ffffff;
}

.message.sent {
    background-color: #d5f9bb;
    align-self: flex-end;
}

.message-text {
    margin: 8px 8px 0;
}

.message-hour {
    color: #bfc0bb;
    font-size: 10px;
    text-align: right;
}